<div class="ecom-wrapper">
    <div class="prod-image">
        <img src="../../assets/images/building.jpg" alt="chair-image">
    </div>
    <div class="prod-info">
        <div class="prod-category">News Daily TV</div>
        <div class="prod-name">
            <h3>New Tesla Building</h3>
            <p>Writter - John Doe (2016)</p>
        </div>
        <div class="details">
            <div class="detail-headers">
                <p class="description">DESCRIPTION</p>
            </div>
            <p class="description-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, itaque cupiditate commodi distinctio ab laborum velit corporis! Velit, distinctio iste.
            </p>
            <BUTTON>READ FULL ARTICLE</BUTTON>
        </div>
    </div>
</div>