<div class="ecom-wrapper">
    <div class="prod-image">
        <img src="../../assets/images/crown.jpg" alt="crown-image">
    </div>
    <div class="prod-info">
        <div class="prod-category">CROWN KINGDOM</div>
        <div class="prod-name">
            <h3>CORONATION OF NEW KING</h3>
            <p>JUNE 08, 2024</p>
        </div>
        <div class="details">
            <div class="detail-headers">
                <p class="description">INVITE TO CORONATION</p>
            </div>
            <p class="description-text">
                You are invited to the lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, itaque cupiditate commodi distinctio ab laborum velit corporis! Velit, distinctio iste.
            </p>
        </div>
    </div>
</div>