<div class="ecom-wrapper">
    <div class="prod-image">
        <img src="../../assets/images/chair.jpg" alt="chair-image">
    </div>
    <div class="prod-info">
        <div class="prod-category">CHAIRS</div>
        <div class="prod-name">
            <h3>Modern Chair</h3>
            <p>Tinner's House</p>
        </div>
        <div class="price-rating">
            <p class="price">$420</p>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="details">
            <div class="detail-headers">
                <p class="description">DESCRIPTION</p>
                <p class="details">DETAILS</p>
                <p class="comments">COMMENTS</p>
            </div>
            <p class="description-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolores, id fugiat odio error voluptatibus itaque quam vitae quisquam odit ad laudantium provident neque perspiciatis facere debitis necessitatibus labore eligendi possimus, eius voluptate quidem modi. Delectus eos vel pariatur alias cum. Hic, quasi.
            </p>
            <div class="customize">
                <div class="color">
                    <p>Color</p>
                    <select name="color" id="color">
                        <option value="red">Red</option>
                        <option value="yellow">Yellow</option>
                        <option value="blue">Blue</option>
                    </select>
                </div>
                <div class="quantity">
                    <p>Quantity</p>
                    <div class="quant">
                        <p>-</p>
                        <p>2</p>
                        <p>+</p>
                    </div>
                </div>
                <div class="total-price">
                    <p>Total Price</p>
                    <div class="total">
                        <p>$840</p>
                    </div>
                </div>
            </div>
            <button>ADD TO MY WISHLIST</button>
            <BUTTON>ADD TO CART</BUTTON>
        </div>
    </div>
</div>