.ecom-wrapper{
    width: fit-content;
    height: 500px;
    display: flex;
    /* flex-direction: column; */
    background: rgb(24, 24, 26);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .2s;
}

.prod-image {
    height: 500px;
    width: 500px;
    transition: .2s;
}
.prod-image img {
    height: 500px;
    /* transition: .2s;  */
}

.prod-info {
    width: 400px;
    height: 400px;
    color: white;
    padding: 40px; 
    background: rgb(24, 24, 26);
    font-family: Montserrat, Poppins, "Sans-serif";
}

.prod-category {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(209, 30, 30);
}

.prod-name{
    margin-bottom: 10px;
}
.prod-name h3{
    font-size: 27px;
    margin-bottom: 5px;
}
.prod-name p {
    font-size: 10x;
    font-style: italic;
    color:rgba(197, 197, 197, 0.3);
}

.price-rating {
    display: flex;
    /* background: red; */
    justify-content: space-between;
    align-items: Center;
    margin-bottom: 10px;
}
.price-rating .price {
    font-size: 25px;
}
.price-rating .rating {
    display: flex;
    gap: 5px;
    color: white;
}

.details {
    display: flex;
    flex-direction: column;
}

.details .detail-headers{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    transition: .5s;
    margin-bottom: 10px;
}

.details .detail-headers .description{
    border-bottom: 3px solid rgb(209, 30, 30);
    font-weight: 500;
}

.details .detail-headers .details,
.details .detail-headers .comments 
{
    border-bottom: 3px solid transparent;
    transition: .2s;
    font-weight: 500;
    color:rgba(197, 197, 197, 0.3);
}
.details .detail-headers .description:hover,
.details .detail-headers .details:hover,
.details .detail-headers .comments:hover 
{
    border-bottom: 3px solid rgb(209, 30, 30);
    transition: .2s;
    cursor: pointer;
}

.details .description-text {
    font-size: 11px;
    color:rgba(197, 197, 197, 0.3);
    margin-bottom: 10px;
}

.customize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
select {
    width: 70px;
    height: 45px;
    padding: 15px;
    font-family: Montserrat, Poppins, "Sans Serif";
    border-radius: 30px;
    border: none;
}

.color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
.color p{
    font-size: 10px;
}

.quantity {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.quantity p{
    font-size: 10px;
}
.quant {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    background: rgb(209, 30, 30);
    border-radius: 30px;
    border: none;
    padding: 0 20px;
    position: relative;
    // font-size: 13px;
    font-weight: 600;
}
.quant p{
    font-size: 15px;
    font-weight: 600;
}

.total-price {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}
.total-price p{
    font-size: 10px;
}
.total {
    width: 70px;
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    color:rgb(24, 24, 26);
    font-weight: 600;
}
.total p{
    font-size: 15px;
}


.details button:first-of-type {
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-bottom: 15px;
    background: none;
    border: 3px solid white;
    color: white;
    font-weight: 600;
    transition: .2s;
}

.details button:last-of-type {
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    background: rgb(209, 30, 30);
    color: white;
    font-weight: 600;
    transition: .2s;
}

.details button:hover {
    cursor: pointer;
    opacity: .7;
}
.details button:active {
    scale: .95;
    opacity: 1;
}


/* Media Queries */

@media only screen and (max-width: 984px) {
    .prod-info{
        width: calc(400px - 80px);
    }
    .prod-image {
        height: 400px;
        width: 400px;
    }
    .prod-image img{
        height: 400px;
    }
    .ecom-wrapper {
        flex-direction: column;
        width: 400px;
        margin-left: 50px;
    }
}