*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

.app-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 10rem;
    margin-bottom: 5rem;
}


/* Media Queries */

@media only screen and (max-width: 984px) {
    .app-container {
        flex-direction: row;
    }
}