<div class="ecom-wrapper">
    <div class="prod-image">
        <img src="../../assets/images/portrait.jpg" alt="lady profile image">
    </div>
    <div class="prod-info">
        <div class="prod-name">
            <h3>Janet Doe</h3>
            <p>Professional Gamer</p>
        </div>
        <div class="details">
            <div class="detail-headers">
                <p class="description">BIO</p>
            </div>
            <p class="description-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, itaque cupiditate commodi distinctio ab laborum velit corporis! Velit, distinctio iste.
            </p>
            <div class="social-handles">
                <i class="fa-brands fa-behance"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-twitch"></i>
            </div>
        </div>
    </div>
</div>